/*

   Custom CSS for Samosa Meets Chai
   Url : www.samosameetschai.in
   Author : Pratik Kanthi
   Base CSS : Twitter-bootstrap

*/

@import url('http://fonts.googleapis.com/css?family=Lato');
/*Overall */

a {
    text-decoration: none;
}

body {
    background-color: #f1f1f1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato';
}
.search-bar input[type=text] {
    height: 46px;
}

html, body {
    height: 100%;
    margin: 0;
  }

#map{
    height:100%;
}

.map-canvas{
  height:400px!important;
  margin-top:-70px;
  width:100%;
}

/* Index.html/ Homepage */

.home-container{
    margin-top:100px;
}


/* Restaurant Page */



.banner-image-canvas {
    padding: 0px;
}
.banner-image {
    position: relative;
    width: 100%;
    z-index: -100;
    margin-bottom: -200px;
    margin-top: -200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.restaurant_title {
    font-size: 48px;
    color: #f8f8f8;
    margin-left: 30px;
}
.rest-type {
    margin-left: 30px;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    z-index: -50;
    height: 500px;
    margin-top: -500px;
}

.sidebar,
.centre-bar,
.banner-bar {
    padding: 30px;
    background-color: #fff;
    box-shadow: 1px 1px 1px #666;
    font-family: 'Lato';
    height:1000px;
}
.sidebar, .banner-bar {
    background-color: #f6f6f6;
}




.centre-bar a{
  color:#7f1616;
}

.centre-bar a:hover{
  text-decoration:underline;
}

.banner-image.home-page{
    display:inline;
    position:absolute;
    margin-left:auto;
    margin-right:auto;
}
