/*

   Custom CSS for Samosa Meets Chai
   Url : www.samosameetschai.in
   Author : Pratik Kanthi
   Base CSS : Twitter-bootstrap

*/

@import url('http://fonts.googleapis.com/css?family=Lato');
/*Overall */

a {
    text-decoration: none;
}

body {
    background-color: #f1f1f1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato';
}
.search-bar {
    padding: 4% 0;
}
.search-bar input[type=text] {
    height: 46px;
}

html, body {
    height: 100%;
    margin: 0;
  }

#map{
    height:100%;
}

.map-canvas{
  height:400px!important;
  margin-top:-70px;
  width:100%;
}

/* Index.html/ Homepage */

.home-container{
    margin-top:100px;
}


/* Restaurant Page */



.banner-image-canvas {
    padding: 0px;
}
.banner-image {
    position: relative;
    width: 100%;
    z-index: -100;
    margin-bottom: -200px;
    margin-top: -200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.restaurant_title {
    font-size: 48px;
    color: #f8f8f8;
    margin-left: 30px;
}
.rest-type {
    margin-left: 30px;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    z-index: -50;
    height: 500px;
    margin-top: -500px;
}

.sidebar,
.centre-bar,
.banner-bar {
    padding: 30px;
    background-color: #fff;
    box-shadow: 1px 1px 1px #666;
    font-family: 'Lato';
    height:1000px;
}
.sidebar, .banner-bar {
    background-color: #f6f6f6;
}




.centre-bar a{
  color:#7f1616;
}

.centre-bar a:hover{
  text-decoration:underline;
}

.banner-image.home-page{
    display:inline;
    position:absolute;
    margin-left:auto;
    margin-right:auto;
}

.main-wrapper {
    background-image: url(https://b.zmtcdn.com/images/foodshots/cover/pizza3.jpg?output-format=webp);
    background-size: cover;
}
.base-heading {
    padding: 4%;
    text-shadow: 1px 1px 0 rgba(0,0,0,.3);
    color: #fff;
    margin: 0;
}
.smc-overlay {
    background: rgba(0,0,0,0.4);
}

.navbar-inverse {
    background: transparent;
    border: transparent;
}
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
.str-chat-img {
    padding: 0;
}
.ui.cards  .card {
    padding: 2%;
    margin: 1%;
    background: #fff;
    box-shadow: 0px 3px 1px 0px #ccc;
}

.card h4 {
    margin: 0 0px 13px 0;
}
.cards a {
    text-decoration: none;
    color: #333;
}